{% extends 'base.html.twig' %}

{% block title %}Guests{% endblock %}

{% block body %}
    <h1>Guests</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ guest.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ guest.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ guest.lastName }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ guest.age }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('guests_index') }}">back to list</a>

    <a href="{{ path('guests_edit', {'id': guest.id}) }}">edit</a>

    {{ include('guests/_delete_form.html.twig') }}
{% endblock %}
