<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% endblock %}


    </head>
    <body>
    <header>
        <nav class="navbar  navbar-expand-lg navbar-light d-flex justify-content-between align-content-center p-2" style="background-color: #e3f2fd;">
            <div>
                <a class="navbar-brand" href="{{ path('home') }}"> 30 ans !</a>
            </div>
            <div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('guests_index') }}">Invités{#<span class="sr-only">(current)</span>#}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('questions_index') }}">Questions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('quizz_index') }}">Quizz</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    {% block body %}{% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            require('select2')
            $('select').select2();
        </script>
    {% endblock %}
    </body>
</html>
